.entityreference-live-preview-container {
  display: table;
}

.entityreference-live-preview-container > * {
  display: table-cell;
  vertical-align: top;
}

.entityreference-live-preview-container > .entityreference-live-preview {
  float: none;
  width: auto;
}

.entityreference-live-preview-container > .form-item {
  display: none;
}

.entityreference-live-preview p {
  margin-top: 0;
}
