<div class="bg-faded">
  <div class="container py-5 text-center">
    <h2 class="mt-0">Questions?</h2>
    <p>
      <a class="btn btn-lg btn-primary" href="https://drupal.slack.com/messages/bricks" target="_blank">
        <i class="fa fa-slack"></i> Ask us in Drupal Slack
      </a>
    </p>
    <div class="text-muted">
      Channel #bricks •
      <a href="https://drupalslack.herokuapp.com/" target="_blank">Get invite</a>
    </div>
  </div>
</div>

<footer class="small text-muted">
  <div class="container pt-5 pb-3">
    {% include twitter-grid.html %}
    <hr/>
    <p>© 2017 Bricks.<br class="hidden-sm-up"/> Proudly made by <a href="https://twitter.com/tonystarring" target="_blank">Anton Staroverov</a>.</p>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  $('table').addClass('table table-bordered table-responsive');
</script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
