<header class="navbar navbar-light fixed-top px-0">
  <div class="container">
    <a class="navbar-brand" href="./">Bricks</a>
    <div class="share-buttons float-right ml-3">
      <a class="github-button" href="https://github.com/highweb/drupal-bricks" data-style="mega" data-count-href="/highweb/drupal-bricks/stargazers" data-count-api="/repos/highweb/drupal-bricks#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star highweb/drupal-bricks on GitHub">Star</a>
      <a class="twitter-tweet-button btn btn-sm btn-primary" href="https://twitter.com/highwebtech/status/841004866633842689" target="_blank"><i class="fa fa-lg fa-twitter"></i><span class="hidden-xs-down"> Retweet</span></a>
    </div>
  </div>
</header>
