<div class="bg-faded">
  <div class="container py-3">
    {% include disqus.html %}
  </div>
</div>

<footer class="small text-muted mt-5">
  <div class="container pb-3">
    <hr/>
    <p>© 2017 Bricks.<br class="hidden-sm-up"/> Proudly made by <a href="https://twitter.com/tonystarring" target="_blank">Anton Staroverov</a>.</p>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  $('table').addClass('table table-bordered table-responsive');
</script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
