<style>
  img {
    max-width: 100%;
    height: auto;
  }
  h2, h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  h3 sup {
    font-size: .6em;
  }
  .navbar-light {
    background: rgba(255,255,255,.9);
  }
  .share-buttons {
    margin: .4rem 0 -.4rem;
  }
  .share-buttons .twitter-tweet-button {
    vertical-align: top;
    height: 28px;
    margin-left: .5rem;
  }
  .jumbotron .lead {
    font-size: 2rem;
  }
  @media (max-width: 543px) {
    h1 {
      font-size: 3rem !important;
    }
    .navbar-brand {
      margin-right: 0;
    }
    .jumbotron .lead {
      font-size: 1.25rem;
    }
  }
</style>
