<link rel="icon" href="/favicon.ico"/>

<style>
  img {
    max-width: 100%;
    height: auto;
  }
  h2, h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  h3 sup {
    font-size: .6em;
  }
  .navbar-light {
    background: rgba(255,255,255,.9);
  }
  .share-buttons {
    margin: .4rem 0 -.4rem;
  }
  .share-buttons .twitter-tweet-button {
    vertical-align: top;
    height: 28px;
    margin-left: .5rem;
  }
  .jumbotron .lead {
    font-size: 2rem;
  }
  @media (max-width: 543px) {
    h1 {
      font-size: 3rem !important;
    }
    .navbar-brand {
      margin-right: 0;
    }
    .jumbotron .lead {
      font-size: 1.25rem;
    }
  }
</style>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-96363950-2', 'auto');
  ga('send', 'pageview');
</script>

<!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter43852904 = new Ya.Metrika({ id:43852904, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/43852904" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->

<meta name="google-site-verification" content="pB1B4op5zGaQ8B2_8smru8lgpxeJp2APfA-dzixZElg" />
